attrs==21.2.0
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
gunicorn==20.1.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycparser==2.20
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.17.1
six==1.16.0
SQLAlchemy==1.4.13
toml==0.10.2
Werkzeug==1.0.1
